include ~@/templates/_adjacent/pictureBlock.pug
include ~@/templates/__global/layout/_footer.pug
include ~@/templates/__global/layout/_header.pug

mixin card(text,date,img)
  .card
    .card__img
      img(src=require(`@/assets/images/events/events/${img}.jpg`), alt="event")
    .card__textWrapper
      each val in text
        p.card__text= val
      p.card__date=date
        span.card__painting= date
      a.card__readMoreLink(href="#") читать ещё 
  



doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mastersuit - events
  body 
    .wrapper
      .firstScreenParralax.eventsFirstScreen
        +header("en")
        .firstScreenParralax__container.container.zIndexLayer
            h1.firstScreenParralax__painting Gallery
            h4.firstScreenParralax__defaultTitle Галерея

      
      .gallery.zIndexLayer
        .gallery__container.container
      
      +footer("en")


      
