//- mixins
include ~@/templates/_adjacent/pictureBlock.pug
include ~@/templates/_adjacent/_bookingForm.pug
include ~@/templates/__global/layout/_footer.pug
include ~@/templates/__global/layout/_header.pug


mixin popUp(id,img, title,[...text])
  .popUp(id=`popUpWindow-js-${id}`)
    .popUp__container
      button.popUp__closeButton закрыть
      .popUp__img
        img(src=require(`@/assets/images/${img}`), alt="img")
      .popUp__column
        h3.popUp__title= title
        .popUp__textWrapper
          each val in [...text]
            p.popUp__text= val
        



doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mastersuit - main page
  body
  .wrapper.wrapper_absoluteHeader
    //- include ../__global/layout/_header.pug
    +header("ru")

    .firstScreen.zIndexLayer
      .containter.firstScreen__container
        h1.firstScreen__title Fashion cafe с десертами ручной работы в авторском исполнении из натуральных ингредиентов.
        .firstScreen__logo 
          img(src=require("@/assets/images/_global/logo.svg"), alt="logo")
      
      .swiper-container.firstScreen__slider
        .container.firstScreen__paginationContainer
          .firstScreen__pagination.swiper-pagination
        .swiper-wrapper
          .swiper-slide.firstScreen__slide
            .firstScreen__bgImage 
              img(src=require("@/assets/images/index/firstScreen/1.png"), alt="ресторан")
          .swiper-slide.firstScreen__slide
            .firstScreen__bgImage 
              img(src=require("@/assets/images/index/firstScreen/2.png"), alt="ресторан")
          .swiper-slide.firstScreen__slide
            .firstScreen__bgImage 
              img(src=require("@/assets/images/index/firstScreen/3.png"), alt="ресторан")
          .swiper-slide.firstScreen__slide
            .firstScreen__bgImage 
              img(src=require("@/assets/images/index/firstScreen/4.png"), alt="ресторан")
          .swiper-slide.firstScreen__slide
            .firstScreen__bgImage 
              img(src=require("@/assets/images/index/firstScreen/5.png"), alt="ресторан")
    
    .textBlock.zIndexLayer 
      .container
        p.defaultText Одно из самых известных московских
        p.defaultText бутик-ателье «Mastersuit»
        p.defaultText  на Пречистенке открыло свое кафе 
        p.defaultText  с меню европейской кухни.

    +pictureBlock("mainPageParallax","true")

      



    .notesWrapper.zIndexLayer
      .container
        .noteBlock
          .noteBlock__img 
            img(src=require("@/assets/images/index/noteBlock/1.jpg"), alt="img").wow.animate__animated.animate__fadeInLeft
          
          .noteBlock__column 
            h4.noteBlock__painting New menu
            h2.noteBlock__title Новое летнее меню
            .noteBlock__textWrapper
              p.defaultText.noteBlock__text Новые специальные позиции летнего меню 
              p.defaultText.noteBlock__text от нашего шеф-повара уже ждут вас!
            button(data-window="1").noteBlock__readMore.call-popUp-js Читать больше

        .noteBlock.noteBlock_reverse
          .noteBlock__img 
            img(src=require("@/assets/images/index/noteBlock/2.jpg"), alt="img").wow.animate__animated.animate__fadeInRight
          
          .noteBlock__column 
            h4.noteBlock__painting Yandex delivery
            h2.noteBlock__title Яндекс.Еда
            .noteBlock__textWrapper
              p.defaultText.noteBlock__text Теперь вы можете заказать свои любимые блюда домой или в офис.
                a(href="#").noteBlock__text_link Яндекс.еда  
            button(data-window="2").noteBlock__readMore.call-popUp-js Читать больше

        .noteBlock
          .noteBlock__img 
            img(src=require("@/assets/images/index/noteBlock/3.jpg"), alt="img").wow.animate__animated.animate__fadeInLeft
          
          .noteBlock__column 
            h4.noteBlock__painting Coffee blends
            h2.noteBlock__title первые фирменные 
            h2.noteBlock__title кофейные бленды
            .noteBlock__textWrapper
              p.defaultText.noteBlock__text ESPRESSO №1
              p.defaultText.noteBlock__text Эфиопия, Бразилия, Уганда, Гватемала, Гондурас
              p.defaultText.noteBlock__text Вкус: молочные шоколад, чернослив, гречишные мед.
              p.defaultText.noteBlock__text ESPRESSO №2
              p.defaultText.noteBlock__text Перу, Бразилия, Уганда
              p.defaultText.noteBlock__text Вкус: грецкий орех, карамель, горький шоколад
            button(data-window="3").noteBlock__readMore.call-popUp-js Читать больше


    .contacts.zIndexLayer
      .map
      .booking.contacts__booking
        .booking__wrapper
          p.booking__text.defaultText.defaultText_white Забронировать стол
          +formBooking("ru")
          

    .gallery.zIndexLayer
      .gallery__container.container


    +popUp(1,"index/noteBlock/1.jpg", "Новое летнее меню", ["Новые специальные позиции летнего меню от нашего шеф-повара уже ждут вас!", "Мы расширили меню завтраков, которые также действуют в течении всего дня. Добавили морепродукты и зеленые салаты, которые идеально подойдут в жаркий летний день. "] )
    
    .popUp(id="popUpWindow-js-2")
      .popUp__container
        button.popUp__closeButton закрыть
        .popUp__img
          img(src=require(`@/assets/images/index/noteBlock/2.jpg`), alt="img")
        .popUp__column
          h3.popUp__title ЯНДЕКС.ЕДА
          .popUp__textWrapper
              p.popUp__text Теперь вы можете заказать свои любимые блюда домой или в офис.
              p.popUp__text Устройте себе красивый завтрак или вкусный и полезный обеденный перерыв в пару кликов. 
                a(href="#").popUp__text.popUp__text_link  Яндекс.еда
              p.popUp__text.popUp__text_margin *В данный момент доставка осуществляется только в районе Хамовников
    
    
    +popUp(3,"index/noteBlock/3.jpg", "Фирменные кофейные бленды", [
      "Мы выпустили наши первые фирменные кофейные бленды", 
      "ESPRESSO №1",
      "Эфиопия, Бразилия, Уганда, Гватемала, Гондурас",
      "Вкус: молочные шоколад, чернослив, гречишные мед",
      "ESPRESSO №2",
      "Перу, Бразилия, Уганда",
      "Вкус: грецкий орех, карамель, горький шоколад",
      "Кофе обжариваем сами, под чутким руководством чемпиона мира по обжарке кофе 2019 - Арсения Кузнецова (Человек года в индустрии кофе).",
      ] )
      
    +footer("ru")
      
