include ~@/templates/_adjacent/pictureBlock.pug
include ~@/templates/__global/layout/_footer.pug
include ~@/templates/__global/layout/_header.pug

mixin menuItem(title,pos,categoryTitle,categorySupTitle)
  if categoryTitle
    .menu__box
      .menu__categoryLine
        h3.menu__title.menu__title_bold= categoryTitle
        p.menu__text.menu__text_bold.defaultText= categorySupTitle
      h3.menu__title=  title
      .menu__column
        each val in pos
          .menu__line
            p.menu__text.defaultText.defaultText_startAlign= val[0]
            span.menu__dot
            p.menu__text.defaultText= val[1]
  else 
    .menu__box
      h3.menu__title=  title
      .menu__column
        each val in pos
          .menu__line
            p.menu__text.defaultText.defaultText_startAlign= val[0]
            span.menu__dot
            p.menu__text.defaultText= val[1]    
    



doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mastersuit - events
  body 
    .wrapper
      .firstScreenParralax.menuParralaxBlock
        +header("ru")
        .firstScreenParralax__container.container.zIndexLayer
          h1.firstScreenParralax__painting Menu
          h4.firstScreenParralax__defaultTitle меню
          button.firstScreenParralax__button.defaultText скачать меню
        
      .menu.zIndexLayer
        .container.menu__container 
          .menu__wrapper
            +menuItem("Завтраки",[
              ["Яйцо всмятку 1 шт", "150"],
              ["Омлет из 2-х яиц", "300"], 
              ["Глазунья из 3-х яиц", "300"],
              ["Яйцо Бенедикт с припущенным шпинатом, слабосолёным лососем и соусом Олландез", "550"],
              ["Скрембл с трюфелем, слайсами авокадо и салатом корн", "570"],
              ["Френч - тост с хурмой и ванильным соусом", "450"],
              ["Сырники из фермерского творога со	сметанои  и  ягодами", "550"],
              ["Круассан классический / миндальный / фисташковый", "250/270/370"],
              ])

            +menuItem("Каша",[
              ["Каша из киноа на кокосовом молоке с домашним клубничным вареньем", "300"],
              ["Каша овсяная с малиной и голубикой", "300"], 
              ])

            +menuItem("Закуски и салаты",[
              ["Страчателла со сливой, карамелизованным орехом пекан и пудрой из каркаде", "900"],
              ["Татаки из лосося с соусом понзу", "750"], 
              ["Тартар из лосося с авокадо", "750"], 
              ["Морской гребешок с кокосовой тапиокой", "550"], 
              ["Тартар из говядины с эмульсией из лука сибулет", "700"], 
              ["Гребешок с пюре из корня сельдерея", "750"], 
              ["Зеленый салат с аргентинскими креветками, киноа и кунжутным соусом", "850"], 
              ["Салат из сезонных овощей с оливковым маслом", "750"], 
              ])


            +menuItem("Детское меню",[
              ["Салат из овощей с оливковым маслом", "300"],
              ["Куриные котлетки с печеным картофелем", "350"], 
              ["Суп лапша на курином бульоне", "450"], 
              ["Блинчики с индейкой и сыром моцарелла", "400"], 
              ["Каша овсяная с ягодами", "400"], 
              ["Сырники из фермерского творога", "450"], 
              ["Мороженое (1 шарик)", "150"], 
              ])
          .menu__wrapper
            +menuItem("Десерты",[
              ["Эскимо Фисташковое", "350"],
              ["Эскимо Шоколадное", "350"],
              ["Десерт Картошка", "350"],
              ["Медовик", "360"],
              ["Морковный кекс", "360"],
              ["Тарталетка Сникерс", "350"],
              ["Лимонная тарталетка", "300"],
              ["Круассан миндальный", "270"],
              ["Круассан классический", "250"],
              ["Круассан фисташковый", "370"],
              ["Эклер Ванильный", "300"],
              ["Эклер Малина-Личи", "300"],
              ["Эклер Фисташковый", "300"],
              ["Овсяное Печенье", "80"],
              ["Печенье Кантучини", "50"],
              ["Трюфель с фундуком", "165"],
              ])

            +menuItem("Горячее",[
              ["Ризотто с белыми грибами и трюфелем", "1200"],
              ["Лосось с цветной капустой, стручковым ГОРОшКОМ и соусом из сладкого перца", "1100"],
              ["Говяжья вырезка с пюре из корня сельдерея и соусом из кваса", "1200"],
              ["Равиоли со шпинатом и моцареллой", "800"],
              ])

            +menuItem("Гарниры",[
              ["Стейк из цветной капусты с ореховым соусом", "500"],
              ["Спаржа с соусом Олландез", "550"],
              ["Шпинат", "350"],
              ["Печеный картофель с трюфельным маслом", "350"],
              ["Морковь с муссом из сыра монтблю", "350"],
              ])

            +menuItem("Закуски к вину",[
              ["Сыры: пармезан, монтблю, бри", "600"],
              ["Оливки", "300"],
              ["Прошутто", "600"],
              ])

              
            +menuItem("Супы",[
              ["Крем суп из цветной капусты с морепродуктами", "950"],
              ["Суп лапша на курином бульоне", "450"],
              ["Том ям", "700"],
              ])

      .firstScreenParralax.firstScreenParralax_centered.menuParralaxBlock-drinks
        .firstScreenParralax__container.container.zIndexLayer
          h1.firstScreenParralax__painting Drinks
          h4.firstScreenParralax__defaultTitle напитки
          .menu.zIndexLayer
      .container.menu__container 
        .menu__wrapper
            +menuItem("Игристые и шампанские вина",[
              ["Lanson Black Label Brut", "1490/8940"],
              ["Villa Sandi Prosecco Di Valdobbiadene DOCG Superiore Extra Dry", "670/4020"],
              ],"Вино","125/750мл")

            +menuItem("Белые вина",[
              ["Vinuva Organic Pinot Grigio Terre Siciliane IGT Enoitalia", "590/3540"],
              ["Duett Riesling & Veltliner Niederosterreich Leth", " 690/4140"],
              ])

            +menuItem("Красные вина",[
              ["Zweight Classic Burgenland Norbert Schmeltzer", "720/4320"],
              ["Cacciata Chianti Classico DOCG Castellani", "690/4140"],
              ["Gran Passione Apassimento Rosso Puglia IGT Botter", "720/4320"],
              ])

            +menuItem("Аперетивы и дижестивы",[
              ["Ottos", "380"],
              ["Suze", "400"],
              ["Bonal", "380"],
              ["Fernet Branca", "410"],
              ["Pierre Ferrand Dry Curacao", "400"],
              ["Ulrich, Amaro", "420"],
              ["Ferro China Balivia, Amaro", "420"],
              ["Aperol", "380"],
              ])


            +menuItem("Авторские",[
              ["#1. Oxygen (соджу грейпфрут, лемонграсс, апельсин, соевое молоко)", "750"],
              ["#2. Echo (щавель, груша, писко мосто верде Италия, рислинг)", "750"],
              ["#3. Diamond Chip (джин Roku, соджу слива и грейпфрут, цветы апельсина) ", "750"],
              ["#4. Amadeus (джин из амальфитанских лимонов, винный персик, алоэ, биттер из альпийских трав)", "750"],
              ["#6. Treveller (джин Sipsmith, кордиал из лайма с кокосовым улуном, ликер из бергамота,анис)", "750"],
              ["#7. Royal mile (апельсин, винный персик, Laphroig 10y.o., просекко)", "750"],
              ["#8. Summertime (джин настоянный на зернах маракуйи, кальвадос, ваниль, просекко)", "750"],
              ["#9. Black Pearl (малина, ежевика, мескаль, итальянское амаро, шираз)", "750"],
              ["#10. Signature (Macallan 15y.o., ликер из ромашки, амаро, шоколадный биттер)", "1250"],
              ["#11. Tazmanian (пряный ром, печеный ананас, персик)", "750"],
              ["#12. Masquerade (ягодный джин, мята, кокос, черная смородина) ", "750"],
              ["#14. Imperial gold (Macallan 12y.o., кокос, кафирский лайм, имбирь, куркума)", "900"],
              ["#15. Trofeo (писко мосто верде Италия, бузина, жасмин, алоэ)", "750"],
              ],"Коктейли")


             +menuItem("Классика",[
              ["Old Fashioned (бурбон, сахар, смесь биттеров)", "750"],
              ["Vieux Care (виски рай, сладкий вермут, бенедиктин, креольский биттер)", "750"],
              ["Whiskey Sour (бурбон, сахар, лимон, биттер)", "750"],
              ["Negroni (джин, сладкий вермут, биттер) ", "750"],
              ["French 75 (джин, лимон, просекко) ", "750"],
              ["Daiquiri (белый ром, лайм, сахар) ", "750"],
              ["Moscow Mule (водка, биттер, лимон, имбирный эль) ", "750"],
              ["Pisco Sour (писко мосто верде Италия, лимон, сахар)", "750"],
              ["Apple Jack Rabbit (кальвадос, кленовый сироп, лимон и апельсин)", "750"],
              ["Sidecar (коньяк, оранж кюрасао, лимон, сахар)", "750"],
              ["Aperol Spritz (апероль, газированная вода, просекко)", "650"],
              ["Negroni Sbagliato (сладкий вермут, биттер, просекко)", "650"],
              ["Bellini (розовый персик, просекко)", "650"],
              ["Kir Royal (ликер из черной смородины, шампанское)", "1750"],
              ],)

            +menuItem("Шоты",[
              ["Арбузный шот (свежий арбуз, маракуйа, лимон, водка)", "350"],
              ["Малиновый шот (малина, бузина, ром, просекко)", "350"],
              ],)

            +menuItem("Горячие",[
              ["Глинтвейн (крсное вино, пряности, ликер Grand Marnier, фрукты)", "750"],
              ["Горячий масляный ром (пряный ром, свежий лайм, яблочный сок, сливочное масло,ваниль, яблоки и пряности)", "750"],
              ],)

        .menu__wrapper
            +menuItem("Водка",[
              ["Onegin", "350"],
              ],"Крепкий алкоголь","40 мл")

            +menuItem("Джин",[
              ["Roku", "620"],
              ["Sipsmith London Dry", "750"],
              ["Brockmans", "730"],
              ])

            +menuItem("Текила, мескаль и реасель",[
              ["Koch, Mezcal", "430"],
              ])

            +menuItem("Ром и кашаса",[
              ["Don Papa", "610"],
              ["Spytail", "530"],
              ["Ron de Jeremy Reserva", "590"],
              ])

            +menuItem("Виски",[
              ["Macallan 12y.o.", "1100"],
              ["Laphroig 10 y.o.", "940"],
              ["Makers Mark", "580"],
              ])

            +menuItem("Коньяк, граппа, писко и другие бренди",[
              ["Courvoisier XO ", "3600"],
              ["Pisco Barsol Mosto Verde Italia", "620"],
              ])

            +menuItem("Лимонады",[
              ["Апельсин-ваниль (свежий апельсин, ваниль, лимон, газированная вода)", "450"],
              ["Арбузный (арбуз, маракуйа, лимон, газированная вода)", "450"],
              ["Малина и имбирь (малина, имбирь, лимон, мед, газированная вода)", "450"],
              ],"Безалкогольные напитки")

            +menuItem("Смузи",[
              ["Сникерс", "600"],
              ["Зеленый", "600"],
              ["Ягодный", "600"],
              ],)

            +menuItem("Свежевыжатые соки",[
              ["Апельсин", "430"],
              ["Грейпфрут", "430"],
              ["Яблоко", "440"],
              ["Морковь", "430"],
              ["Сельдерей", "430"],
              ],)

            +menuItem("Соки в бутылках",[
              ["Яблоко", "320"],
              ["Вишня", "320"],
              ["Персик", "320"],
              ["Клюква", "320"],
              ["Томат", "320"],
              ],)

            +menuItem("Минеральная вода",[
              ["Dausuz 280 ml", "320"],
              ["San Cassiano 250 ml ", "470"],
              ["San Cassiano 750 ml", "760"],
              ],)

            +menuItem("Газированные напитки",[
              ["Coca-Cola, Coca-Cola Zero 330 ml", "350"],
              ["Sprite 330 ml", "350"],
              ["Fanta 330 ml", "350"],
              ["Hartidges Ginger Beer 330 ml", "400"],
              ["Fever Tree 200 ml", "300"],
              ],)

            +menuItem("Кофе",[
              ["Эспрессо", "200"],
              ["Американо", "250"],
              ["Капучино", "390"],
              ["Флэт уайт", "470"],
              ["Латте", "470"],
              ],)

            +menuItem("Специальный кофе",[
              ["Матча Латте", "430"],
              ["Куркума Латте", "490"],
              ["Ванильный Раф", "470"],
              ["Какао", "320"],
              ],)

            +menuItem("Растительное молоко",[
              ["Соевое 100 мл", "150"],
              ["Миндальное 100 мл", "150"],
              ["Овсяное 100 мл", "150"],
              ["Кокосовое 100 мл", "150"],
              ],)
            
            +menuItem("Чай",[
              ["Инглиш Брекфаст", "430"],
              ["Эрл Грей", "430"],
              ["Черный с тимьяном", "470"],
              ["Кокосовый улун", "420"],
              ["Сенча", "400"],
              ["Женьшень", "490"],
              ["Пуэр Премиум", "490"],
              ["Тигуанинь", "490"],
              ["Жасмин", "390"],
              ["Мята-малина", "480"],
              ["Ромашка", "200"],
              ["Мята", "200"],
              ["Иван-чай смородина", "390"],
              ["Липа", "230"],
              ["Каскара", "490"],
              ["Матча", "490"],
              ["Гречишный премиум", "490"],
              ["Саган дайля", "390"],
              ],)

            +menuItem("Фруктовые чаи",[
              ["Малиново-имбирный", "450"],
              ["Облепиховый", "450"],
              ],)

      +footer("ru")
