include ~@/templates/_adjacent/pictureBlock.pug
include ~@/templates/__global/layout/_footer.pug
include ~@/templates/__global/layout/_header.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mastersuit - events
  body 
    .wrapper
      .firstScreenParralax.eventsFirstScreen
        +header("en")
        .firstScreenParralax__container.container.zIndexLayer
          h1.firstScreenParralax__painting Events
          h4.firstScreenParralax__defaultTitle Events
        
      .eventPage.zIndexLayer
        .container.eventPage__container 
          h4.eventPage__title THE DINNER OF SENSES 
          h4.eventPage__title by Key. Family Event Service X MasterSuit 
          p.eventPage__date.defaultText.defaultText_startAlign 25.02.2021
            span.eventPage__datePainting 25.02.2021

          .eventPage__textWrapper 
            p.eventPage__text.defaultText.defaultText_startAlign The dinner of senses with elements of immersion and sensory reality was organized by the Key team. Family Event Service X MasterSuit 
            p.eventPage__text.defaultText.defaultText_startAlign The concept of dinner was based on the theory that the taste of meal or beverage can be enhanced or transformed by the environment. It was a symbiosis of fashion show and gastronomy! 
          
          .eventPage__gridContainer
            .eventPage__img
              img(src=require("@/assets/images/eventPage/cards/1.jpg"), alt="event").wow.animate__animated.animate__fadeInLeft
            
            .eventPage__img
              img(src=require("@/assets/images/eventPage/cards/2.jpg"), alt="event").wow.animate__animated.animate__fadeInUp
            
            .eventPage__img 
              img(src=require("@/assets/images/eventPage/cards/3.jpg"), alt="event").wow.animate__animated.animate__fadeInRight

          .eventPage__gridContainer.eventPage__gridContainer_big
            .eventPage__img.eventPage__img_big 
              img(src=require("@/assets/images/eventPage/cards/4.jpg"), alt="event").wow.animate__animated.animate__fadeInLeft  
            
            .eventPage__img.eventPage__img_big 
              img(src=require("@/assets/images/eventPage/cards/5.jpg"), alt="event").wow.animate__animated.animate__fadeInRight
      
    
      +footer("en")

      
